[submodule "data"]
	path = data
	url = git@github.com:ellectroma/tibianitos_server_data.git
[submodule "data-otservbr-global"]
	path = data-otservbr-global
	url = https://github.com/Ellectroma/tibianitos_server_data
[submodule "data-canary"]
	path = data-canary
	url = https://github.com/Ellectroma/tibianitos_server_data
